html { height: 100% }

body {
    margin: 0px;
    padding: 12px;
    color: white;
    background-image: linear-gradient(#272E5D, #171C40);
    background-attachment: fixed;
    font-family: 'Ubuntu';
    font-size: 15px;
}

/* .wrapper > * {
    background: red;
} */

.wrapper {
    margin: 0px auto;
    padding: 12px;
    width: 900px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #373E6D;
    border-radius: 12px;
}

.wrapper h1 {
    flex: 1 100%;
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    width: 450px;
    font-size: 30px;
    color: #17C48E;
    font-weight: normal;
}
ul {
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
}
li {
    margin: 0px;
    padding: 0px;
    position: relative;
    list-style: none;
    height: 48px;
    line-height: 48px;
    width: 501px;
    font-size: 14px;
    /* padding-left: 51px; */
    margin-bottom: 12px;
    background-color: #6E66C4;
    border-radius: 3px;
    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
li.done {
    background-color: #46417F;
    color: #6E66C4;
}
.doneCheckbox:focus { outline:0 }
li > .doneCheckbox {
    padding: 4px;
    margin: 0px;
    float: left;
    width: 10%;
    height: 100%;
    background-size: 20px 20px;
    background-image: url(icon/todo.svg);
    background-position: 20px center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
li.done > .doneCheckbox {
    background-image: url(icon/done.svg);
    background-size: 20px 20px;
    background-position: 20px center;
}
li > .text {
    float: left;
    width: 80%;
    height: 100%;
    overflow: hidden;
    cursor: text;
}
li.done > .text {
    text-decoration: line-through;
}
li > .trashButton {
    float: right;
    width: 10%;
    height: 100%;
    background-image: url(icon/trash.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
    cursor: pointer;
}
li:hover > .trashButton {
    cursor: pointer;
    visibility: visible;
    /* transition: all 0s 0.5s; */
}
textarea {
    margin: 0px;
    padding: 0px;
    display: block;
    margin-left: 15px;
    padding-left: 51px;
    margin-bottom: 12px;
    height: 48px;
    line-height: 48px;
    width: 450px;
    font-family: 'Ubuntu';
    resize: none;
    outline: none;
    border: none;
    border-radius: 3px;  
    overflow: hidden;
    background-size: 20px 20px;
    background-image: url(icon/more-black.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
}

.settings {
    padding: 0px;
    /* margin-left: 36px; */
    padding-left: 12px;
}

/* https://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers */
.checkboxes {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkboxes label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}
.checkboxes input {
    vertical-align: middle;
}
.checkboxes label span {
    vertical-align: middle;
}